<div class="container footer" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center" fxLayoutWrap fxLayoutGap="10px">

    <div fxFlex="100%" fxFlex.gt-sm="50%">
        <div fxLayout="row">
            <div fxFlex="40" fxFlexOffset="20px">
                <h4>Links</h4>
                <md-list>
                    <md-list-item><a md-button routerLink="/home">Home</a></md-list-item>
                    <md-list-item><a md-button routerLink="/aboutus">About</a></md-list-item>
                    <md-list-item><a md-button routerLink="/menu">Menu</a></md-list-item>
                    <md-list-item><a md-button routerLink="/contactus">Contact</a></md-list-item>
                </md-list>
            </div>
            <div fxFlex="50">
                <h4>Our Address</h4>
                <address style="text-size: 80%">
            121, Clear Water Bay Road<br> Clear Water Bay, Kowloon<br> HONG KONG<br>
            <i class="fa fa-phone"></i>: +852 1234 5678<br>
            <i class="fa fa-fax"></i>: +852 8765 4321<br>
            <i class="fa fa-envelope"></i>:
            <a href="mailto:confusion@food.net">confusion@food.net</a>
          </address>
            </div>
        </div>
    </div>
    <div fxFlex="100%" fxFlex.gt-sm="45%">
        <div style="text-align:center">
            <a md-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
            <a md-icon-button class="btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
            <a md-icon-button class="btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
            <a md-icon-button class="btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
            <a md-icon-button class="btn-youtube" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
            <a md-icon-button class="btn-mail" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
        </div>
    </div>
    <div fxFlex="100" fxFlexAlign="center center">
        <div style="text-align:center;">
            <p>© Copyright 2018 Ristorante Con Fusion</p>
        </div>
    </div>
</div>