<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>{{ dish.name | uppercase }}</h3>
                </md-card-title>
            </md-card-header>
            <img md-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
            <md-card-content>
                <p> {{ dish.description }}</p>
            </md-card-content>
            <md-card-actions>
                <button md-button [routerLink]="['/dishdetail',prev]">
                      <span class="fa fa-chevron-left fa-lg"></span>
                    </button>
                <button md-button (click)="goBack()">BACK</button>
                <button md-button>LIKE</button>
                <button md-button>SHARE</button>
                <span class="flex-spacer"></span>
                <button md-button [routerLink]="['/dishdetail',next]">
                        <span class="fa fa-chevron-right fa-lg"></span>
                    </button>
            </md-card-actions>
        </md-card>
    </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>COMMENTS</h3>
                </md-card-title>
            </md-card-header>
            <md-card-content>

                <div *ngFor="let comment of dish.comments">
                    <p>{{ comment.comment }}</p>
                    <p>{{ comment.rating }}</p>
                    <p>{{ comment.author }}</p>
                </div>

            </md-card-content>

        </md-card>
        <div [hidden]="dish || errMess">
            <md-spinner></md-spinner>
            <h4>Loading . . . Please Wait</h4>
        </div>
        <div *ngIf="errMess">
            <h2>Error</h2>
            <h4>{{errMess}}</h4>
        </div>


        <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
            <md-input-container class="half-width">
                <input mdInput formControlName="firstname" placeholder="First Name" type="text" required>
            </md-input-container>
            <md-input-container class="half-width">
                <input mdInput formControlName="lastname" placeholder="Last Name" type="text" required>
            </md-input-container>
            <div class="col-sm-7">
                <label class="radio-inline">
                  <input type="radio" name="rating" value="1" ng-model="newComment.rating">1
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rating" value="2" ng-model="newComment.rating">2
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rating" value="3" ng-model="newComment.rating">3
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rating" value="4" ng-model="newComment.rating">4
                </label>
                <label class="radio-inline">
                  <input type="radio" name="rating" value="5" ng-model="newComment.rating">5
                </label>
            </div>
            <div class="form-group has-feedback" ng-class="{'has-error': commentForm.comment.$error.required && commentForm.comment.$dirty}">
                <label for="comment" class="control-label col-sm-2">
                  <strong>Your comment</strong>
                </label>
                <div class="col-sm-7">
                    <textarea class="form-control" rows="10" name="comment" placeholder="Enter your comment" required ng-model="newComment.comment"></textarea>
                    <span class="help-block" ng-show="commentForm.comment.$error.required && commentForm.comment.$dirty">Your comment is required.</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 col-sm-offset-2">
                    <button type="submit" ng-disabled="commentForm.$invalid" class="btn btn-primary">Submit comment</button>
                </div>
            </div>
        </form>
    </div>



</div>